h1 {
    font-size: 60
}

h2 {
    font-size: 50
}

.headers {
    font-family: 'Oleo Script', cursive;
    background-color: red;   
}

.words {
    background-color: yellow;
}

footer {
    background-color: red;
}

/* h1 {
    font-family: 'Oleo Script', cursive;
    background-color: red;
}
h2 {
    font-family: 'Oleo Script', cursive;
    background-color: red;
} */


body {
    background-color: red;
}
